# Top-most EditorConfig file
root = true

# Unix-style newlines (LF) should be used for every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
charset = utf-8

# Set indentation to 2 spaces for YAML files (e.g., Ansible)
[*.yml]
indent_style = space
indent_size = 2
